/* App.css */
.circular-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* This will make the image circular */
  object-fit: cover; /* Maintain the image aspect ratio and cover the container */
}

/* Default mode styles */
.navbar-default {
  background-color: rgb(0, 238, 255);
}

/* Dark mode styles */
.navbar-dark {
  background-color: black;
  color: white;
}
.searchBar {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 20px;
  width: 100%;
  background-color: rgb(139, 214, 235);
  color: #01051a;

  border: 1px solid black;
}

.dark-mode .searchBar {
  background-color: rgb(139, 142, 235);
  color: #01051a;
}
:placeholder-shown {
  color: #02061a;
  font-size: large;
  font-weight: bolder;
}
/* Gradient background */
body {
  /* You can customize the gradient colors and direction here */
  background: linear-gradient(to right, #63a6e1, #de5954);
  /* Add any other background properties as needed */
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
    240deg,
    hsl(240deg 23% 89%) 0%,
    hsl(251deg 71% 83%) 8%,
    hsl(265deg 80% 74%) 18%,
    hsl(281deg 75% 60%) 29%,
    hsl(223deg 100% 67%) 39%,
    hsl(198deg 100% 57%) 48%,
    hsl(187deg 53% 79%) 57%,
    hsl(163deg 56% 85%) 65%,
    hsl(130deg 74% 81%) 72%,
    hsl(77deg 77% 67%) 78%,
    hsl(48deg 100% 60%) 84%,
    hsl(37deg 100% 76%) 90%,
    hsl(20deg 100% 88%) 95%,
    hsl(0deg 11% 93%) 100%
  );
}

/* Style the container to center the content */
/* styles.css or App.css */
.dark-mode {
  background: linear-gradient(90deg, #2a2a2a 0%, #000000 100%);
  color: #fff; /* Set text color for dark mode */
}

/* Dark mode styles for specific elements */
.dark-mode .h123 {
  color: rgb(12, 12, 23);
  font-weight: bold;
  backdrop-filter: blur(5px);
}

.dark-mode .container {
  background: rgb(107, 144, 191);

  background: linear-gradient(90deg, rgb(34, 47, 64) 0%, rgb(27, 52, 196) 100%);

  background: -moz-linear-gradient(
    90deg,
    rgb(67, 89, 117) 0%,
    rgb(23, 47, 181) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(64, 118, 195) 0%,
    rgb(114, 65, 168) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0968E5", endColorstr="#091970", GradientType=1 );
}

.container {
  background: hsla(146, 39%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(146, 39%, 53%, 1) 0%,
    hsla(266, 62%, 68%, 1) 50%,
    hsla(265, 68%, 45%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(216, 110, 238) 0%,
    hsla(266, 62%, 68%, 1) 50%,
    hsla(265, 68%, 45%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(7, 234, 208) 0%,
    hsla(266, 62%, 68%, 1) 50%,
    rgb(235, 202, 81) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#58B580", endColorstr="#A67BE0", GradientType=1 );
  padding: 20px; /* Add some padding to give space around the content */
  border-radius: 10px; /* Add a border radius for rounded corners */
  color: #000; /* Set the text color to white for better contrast */
}
/* aboutUs.css */
.about-us {
  margin-top: 100px;
  text-align: center;
}

.alert-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999; /* Adjust the z-index as needed to control the stacking order */
  transition: opacity 0.3s; /* Add a transition for smooth appearance/disappearance */
  opacity: 0; /* Initially hide the alert container */
}

.alert-container.show {
  opacity: 1; /* Show the alert when 'show' class is present */
}

/* Quiz.css */

.card-gradient {
  background: linear-gradient(45deg, #00d2ff 0%, #928dab 100%);
  color: #000; /* Set the text color to white for better contrast */
}

.dark-mode .card-gradient {
  background: linear-gradient(90deg, #2a2a2a 0%, #000000 100%);
  color: #18d634; /* Set text color for dark mode */
}

/* Style the quiz questions */
.quiz-question {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style the quiz options */
.quiz-option {
  padding: 10px;
  margin-bottom: 10px;
  border: 4px solid #e0ecdc;
  border-radius: 5px;
  color: #0c0101;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 549;
}

.dark-mode .quiz-option {
  border: 4px solid #0d1101;
}

/* Style the submit button */
.submit-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the quiz title */
.quiz-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-page {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #0073e6, #00b383);
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #0073e6, #00b383);
  font-family: Arial, sans-serif;
}

.dark-mode .login {
  background: linear-gradient(90deg, #2a2a2a 0%, #000000 100%);
  color: #fff; /* Set text color for dark mode */
}

.dark-mode .signup {
  background: linear-gradient(90deg, #2a2a2a 0%, #000000 100%);
  color: #fff; /* Set text color for dark mode */
}

header {
  background-image: linear-gradient(
    230deg,
    hsl(240deg 23% 89%) 0%,
    hsl(251deg 71% 83%) 8%,
    hsl(265deg 80% 74%) 18%,
    hsl(281deg 75% 60%) 29%,
    hsl(223deg 100% 67%) 39%,
    hsl(198deg 100% 57%) 48%,
    hsl(187deg 53% 79%) 57%,
    hsl(163deg 56% 85%) 65%,
    hsl(130deg 74% 81%) 72%,
    hsl(77deg 77% 67%) 78%,
    hsl(48deg 100% 60%) 84%,
    hsl(37deg 100% 76%) 90%,
    hsl(20deg 100% 88%) 95%,
    hsl(0deg 11% 93%) 100%
  );
  padding: 20px;
  border-radius: 5px;
}

.dark-mode header {
  background: rgb(107, 144, 191);

  background: linear-gradient(
    90deg,
    rgb(194, 71, 170) 0%,
    rgb(27, 52, 196) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(160, 183, 212) 0%,
    rgb(23, 47, 181) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(243, 135, 67) 0%,
    rgb(69, 40, 74) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0968E5", endColorstr="#091970", GradientType=1 );
}

.h123 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.h12 {
  color: #0c941c;
  font-weight: bold;
  backdrop-filter: blur(500px);
}

.dark-mode .h12 {
  color: #0ceff3;
}

.quiz-description {
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.quiz-start {
  margin-top: 20px;
}

.quiz-description {
  color: linear-gradient(
    230deg,
    hsl(240deg 23% 89%) 0%,
    hsl(251deg 71% 83%) 8%,
    hsl(265deg 80% 74%) 18%,
    hsl(281deg 75% 60%) 29%,
    hsl(223deg 100% 67%) 39%,
    hsl(198deg 100% 57%) 48%,
    hsl(187deg 53% 79%) 57%,
    hsl(163deg 56% 85%) 65%,
    hsl(130deg 74% 81%) 72%,
    hsl(77deg 77% 67%) 78%,
    hsl(48deg 100% 60%) 84%,
    hsl(37deg 100% 76%) 90%,
    hsl(20deg 100% 88%) 95%,
    hsl(0deg 11% 93%) 100%
  );
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.start-button {
  background-color: #070115;
  color: #00f2ff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;

  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #01051a;
  color: #0dff00;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #310abd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
